body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #161d25;
}

* {
    font-family: "Inter", sans-serif;
}

.wrapper {
    background: #161d25;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    // max-width: 1080px;
    // margin: 50px auto;
}

.layout-position {
    // fixed test
    display: flex;
    margin-top: 80px; /* Высота Header */
    // fixed test

    // display: grid;
    // grid-template-columns: 1fr 4fr;
}

.layout-main {
    // fixed test
    margin-left: 300px; /* Ширина Sidebar */
    flex-grow: 1;
    // fixed test
}

.all-pages {
    background-color: white;
    min-height: calc(100vh - 80px);
    // min-height: 100vh;
}

.main-page {
    border-top-left-radius: 15px; /* Закругление левого верхнего угла */
    border-bottom-left-radius: 15px; /* Закругление левого нижнего угла */
}

// REGISTER FORM

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        margin: 0;
        text-align: center;
    }
    /* From Uiverse.io by bociKond */
    .form {
        --bg-light: #efefef;
        --bg-dark: #707070;
        --clr: #58bc82;
        --clr-alpha: #9c9c9c60;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        max-width: 300px;
    }

    .form .input-span {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .form input[type="text"],
    .form input[type="password"] {
        border-radius: 0.5rem;
        padding: 1rem 0.75rem;
        width: 100%;
        border: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--clr-alpha);
        outline: 2px solid var(--bg-dark);
    }

    .form input[type="email"]:focus,
    .form input[type="password"]:focus {
        outline: 2px solid var(--clr);
    }

    .label {
        align-self: flex-start;
        color: var(--clr);
        font-weight: 600;
    }

    .form .submit {
        padding: 1rem 0.75rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 3rem;
        background-color: var(--bg-dark);
        color: var(--bg-light);
        border: none;
        cursor: pointer;
        transition: all 300ms;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .form .submit:hover {
        background-color: var(--clr);
        color: var(--bg-dark);
    }

    .span {
        text-decoration: none;
        color: var(--bg-dark);
    }

    .span a {
        color: var(--clr);
    }
}

// REGISTER FORM

.content {
    h1 {
        margin: 0;
    }
}

.card-render {
    justify-content: space-evenly;
}

.search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;

    .clear {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 13px;
        right: 15px;
    }

    input {
        border: 0;
        padding: 13px;
        font-size: 16px;
        width: 200px;
    }
}

.cartTotalBlock {
    ul {
        // display: block;
        margin-bottom: 40px !important;

        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;

            div {
                flex: 1;
                height: 1px;
                border-bottom: 1px dashed #dfdfdf;
                position: relative;
                top: -4px;
                margin: 0 7px;
            }
        }
    }

    .greenButton {
        position: relative;

        &:disabled {
            animation: button-loading 0.6s ease-in-out infinite;
        }

        &:hover {
            img {
                transform: translateX(5px);
            }
        }

        img {
            position: absolute;
            right: 30px;
            top: 20px;
            transition: transform 0.15s ease-in-out;
        }
    }
}

// main greenButton
.greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:disabled {
        background-color: #bebebe !important;
        cursor: default;
    }

    &:hover {
        background: lighten(#9dd558, 5%);
    }

    &:active {
        background: darken(#9dd558, 5%);
    }
}
// main greenButton

.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;

    .cartItemImg {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-position: 0 -3px;
        background-repeat: no-repeat;
        margin-right: 20px;
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    b {
        font-size: 14px;
    }

    .removeBtn {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

@keyframes button-loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.layout-home {
    margin-top: 80px;
}

.home-page {
    background-color: #fff;
}

.home-page-swiper {
    height: calc(100vh - 80px);
}

// swiper
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #161d25;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    // height: 100%;
    height: calc(100% + 120px);
    object-fit: cover;
    // object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
    color: #37ff8b !important;
}

.swiper-pagination-bullet-active {
    background: #37ff8b !important;
}
// swiper

.container {
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.about-sec {
    background-color: #f8f8f8;
    padding: 40px 40px 60px 40px;
    .about-us {
        h2 {
            font-size: 45px;
            text-align: center;
            margin-top: 0;
        }
    }
}

.faq {
    margin-bottom: 60px;
}

.about-us p {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.loyalty h2 {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}

.faq h2 {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 0;
}

.about-us p {
    font-size: 18px;
    line-height: 1.5;
}

.faq-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f8f8f8;
}
.faq-header h3 {
    font-size: 18px;
    margin: 0;
}
.faq-header span {
    font-size: 20px;
    font-weight: bold;
}
.faq-content {
    padding: 10px;
    border-top: 1px solid #ccc;
}
.faq-content p {
    font-size: 16px;
    line-height: 1.5;
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;

    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 32s linear infinite;

        .content {
            font-size: 100px;
        }
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.call-to-action {
    background-color: #f8f8f8;
    padding: 40px;
    text-align: center;
    padding-bottom: 90px;

    h2 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #161d25;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
    }

    .cta-button:hover {
        background-color: #333;
    }
}

.orders-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-container h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.order-container h3 {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

/* AdminDashboard */
.admin-dashboard {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.admin-dashboard-product {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
}

.admin-dashboard-product:hover {
    opacity: 0.9;
}

.admin-dashboard h1 {
    color: #333;
}

.admin-dashboard h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #555;
}

.admin-dashboard ul {
    list-style-type: none;
    padding: 0;
}

.admin-dashboard {
    li {
        background: #fff;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        // justify-content: space-between;
        align-items: center;

        img {
            width: 80px;
            height: 80px;
            margin-right: 100px;
            margin-left: 20px;
        }
    }
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminUserProfilePhoto {
    width: 100px !important;
    height: 100px !important;
    margin-right: 50px !important;
    margin-left: 10px !important;
    object-fit: cover !important;
    border-radius: 50%;
}

.toggler {
    width: 72px;
}

.toggler input {
    display: none;
}

.toggler label {
    display: block;
    position: relative;
    width: 72px;
    height: 36px;
    border: 1px solid #d6d6d6;
    border-radius: 36px;
    background: #e4e8e8;
    cursor: pointer;
}

.toggler label::after {
    display: block;
    border-radius: 100%;
    background-color: #d7062a;
    content: "";
    animation-name: toggler-size;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 26px;
    height: 26px;
    transform: translateY(-50%) translateX(-50%);
    transition: left 0.15s ease-in-out, background-color 0.2s ease-out,
        width 0.15s ease-in-out, height 0.15s ease-in-out,
        opacity 0.15s ease-in-out;
}

.toggler input:checked + label::after,
.toggler input:checked + label .toggler-on,
.toggler input:checked + label .toggler-off {
    left: 75%;
}

.toggler input:checked + label::after {
    background-color: #50ac5d;
    animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
    opacity: 1;
    z-index: 2;
}

.toggler input:checked + label .toggler-off,
.toggler input:not(:checked) + label .toggler-on {
    width: 0;
    height: 0;
    opacity: 0;
}

.toggler .path {
    fill: none;
    stroke: #fefefe;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

@keyframes toggler-size {
    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

@keyframes toggler-size2 {
    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

/* AdminDashboard */

.layout-position-admin {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: #fff;
}

.admin-nav {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    gap: 20px;
}

.admin-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.admin-nav a:hover {
    background-color: #c8c8c8;
}

.admin-nav a.active {
    background-color: #717171;
    color: white;
    font-weight: bold;
}

// Checkout

.checkout-page {
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .checkout-page-row {
        display: flex;
        justify-content: center;
        gap: 50px;

        .cart-summary {
            background-color: #efefef;
            border-radius: 10px;
            width: 600px;
            padding: 20px;

            .cartItemImg {
                height: 100px;
                width: 100px;
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 20px;
            }

            .cart-summary-desc {
                max-width: 300px;
            }
            .button-container {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
            .greenButton {
                width: 245px;
            }
        }

        .address-section {
            background-color: #efefef;
            border-radius: 10px;
            width: 600px;
            padding: 20px;
        }
    }
}

// Checkout

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-admin {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-buttons {
    .form-buttons-green {
        background-color: #28a745;
        color: white;
    }
}

.form-buttons {
    .form-buttons-red {
        background-color: #dc3545;
        color: white;
    }
}

.form-buttons button:hover {
    opacity: 0.9;
}
