body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #161d25;
}

* {
    font-family: "Inter", sans-serif;
}

.wrapper {
    background: #161d25;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    // max-width: 1080px;
    // margin: 50px auto;
}

.layout-position {
    // fixed test
    display: flex;
    margin-top: 80px; /* Высота Header */
    // fixed test

    // display: grid;
    // grid-template-columns: 1fr 4fr;
}

.layout-main {
    // fixed test
    margin-left: 300px; /* Ширина Sidebar */
    flex-grow: 1;
    // fixed test
}

.all-pages {
    background-color: white;
    min-height: calc(100vh - 80px);
    // min-height: 100vh;
}

.main-page {
    border-top-left-radius: 15px; /* Закругление левого верхнего угла */
    border-bottom-left-radius: 15px; /* Закругление левого нижнего угла */
}

// REGISTER FORM

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        margin: 0;
        text-align: center;
    }
    /* From Uiverse.io by bociKond */
    .form {
        --bg-light: #efefef;
        --bg-dark: #707070;
        --clr: #58bc82;
        --clr-alpha: #9c9c9c60;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        max-width: 300px;
    }

    .form .input-span {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .form input[type="text"],
    .form input[type="password"] {
        border-radius: 0.5rem;
        padding: 1rem 0.75rem;
        width: 100%;
        border: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--clr-alpha);
        outline: 2px solid var(--bg-dark);
    }

    .form input[type="email"]:focus,
    .form input[type="password"]:focus {
        outline: 2px solid var(--clr);
    }

    .label {
        align-self: flex-start;
        color: var(--clr);
        font-weight: 600;
    }

    .form .submit {
        padding: 1rem 0.75rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 3rem;
        background-color: var(--bg-dark);
        color: var(--bg-light);
        border: none;
        cursor: pointer;
        transition: all 300ms;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .form .submit:hover {
        background-color: var(--clr);
        color: var(--bg-dark);
    }

    .span {
        text-decoration: none;
        color: var(--bg-dark);
    }

    .span a {
        color: var(--clr);
    }
}

// REGISTER FORM

.content {
    h1 {
        margin: 0;
    }
}

.card-render {
    justify-content: space-evenly;
}

.search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;

    .clear {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 13px;
        right: 15px;
    }

    input {
        border: 0;
        padding: 13px;
        font-size: 16px;
        width: 200px;
    }
}

.cartTotalBlock {
    ul {
        // display: block;
        margin-bottom: 40px !important;

        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;

            div {
                flex: 1;
                height: 1px;
                border-bottom: 1px dashed #dfdfdf;
                position: relative;
                top: -4px;
                margin: 0 7px;
            }
        }
    }

    .greenButton {
        position: relative;

        &:disabled {
            animation: button-loading 0.6s ease-in-out infinite;
        }

        &:hover {
            img {
                transform: translateX(5px);
            }
        }

        img {
            position: absolute;
            right: 30px;
            top: 20px;
            transition: transform 0.15s ease-in-out;
        }
    }
}

// main greenButton
.greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:disabled {
        background-color: #bebebe !important;
        cursor: default;
    }

    &:hover {
        background: lighten(#9dd558, 5%);
    }

    &:active {
        background: darken(#9dd558, 5%);
    }
}
// main greenButton

.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;

    .cartItemImg {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-position: 0 -3px;
        background-repeat: no-repeat;
        margin-right: 20px;
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    b {
        font-size: 14px;
    }

    .removeBtn {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

@keyframes button-loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.layout-home {
    margin-top: 80px;
}

// home swiper
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #161d25;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    // height: 100%;
    height: calc(100% + 120px);
    object-fit: cover;
    // object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
    color: #37ff8b !important;
}

.swiper-pagination-bullet-active {
    background: #37ff8b !important;
}
// home swiper

.container {
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

/* AdminDashboard */

/* AdminDashboard */

.layout-position-admin {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: #fff;
}

// main layout test
.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.layout-container {
    display: flex;
    flex: 1;
    margin-top: 80px; // Высота хедера
    position: relative;
}

.main-content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    margin-left: 300px;
    background-color: #fff;
    min-height: calc(100vh - 80px);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    @media (max-width: 992px) {
        margin-left: 250px;
    }

    @media (max-width: 768px) {
        margin-left: 0;
        padding-top: 70px;
    }
}
// main layout test

//main test

// Main.scss
.all-pages {
    background-color: white;
    min-height: calc(100vh - 80px);
}

.main-page {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-block {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;

    .clear {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 13px;
        right: 15px;
    }

    input {
        border: 0;
        padding: 13px;
        font-size: 16px;
        width: 200px;
    }
}

.card-render {
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .main-page {
        .content {
            padding: 15px;
        }

        .d-flex.align-center.justify-between.mb-40 {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        .search-block {
            margin-top: 15px;
            width: 100%;

            input {
                width: 100%;
            }
        }

        .card-render {
            justify-content: center;
            gap: 20px;
        }
    }
}
//
