.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContentMain {
    background: white;
    border-radius: 10px;
    width: 80%; /* Увеличиваем ширину */
    max-width: 900px; /* Ограничиваем максимальную ширину */
    max-height: 80%; /* Ограничиваем максимальную высоту */
    overflow: hidden; /* Убираем прокрутку */
    display: flex;
    position: relative;
    padding: 20px;

    border: 1px solid #888;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modalLeft {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

.modalRight {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        margin-top: 0;
        font-size: 1.5em; /* Увеличиваем размер заголовка */
    }

    p {
        margin: 10px 0;
        font-size: 1em; /* Увеличиваем размер текста */
    }
}

.addCartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #9dd558;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;

    &:hover {
        background-color: lighten(#9dd558, 5%);
    }
}
